a {
  text-decoration: none;
}

.network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__title {
    background: #d50000;
    padding: 0 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 black;
    font-size: 1rem;
  }

  &__links {
    &_item {
      color: #e6e6e6;
      margin: 1rem;
      text-shadow: 0 2px 2px black;
    }

    margin: 1rem;
  }
}
