.page__shop {
  @extend %page;
  background: #fafafa;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #1a1a1a;

  &_title {
    @extend %page__title;
    width: 100%;

    &--principal {
      @extend %page__title_principal;
      margin-bottom: 1rem;
      color: #d50000;
    }

    &--secondary {
      @extend %page__title_secondary;
      margin-bottom: 1rem;
    }
  }
}

.shop__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 48rem) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &_item {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: .5rem;
    padding:1rem;
    margin-bottom: 2rem;
    margin-right: .5rem;
    color: #1a1a1a;
    box-shadow: 0 4px  3px -2px rgba(#1a1a1a, .25);
    position: relative;

    @media (min-width: 48rem) {
      margin-right: 1rem;
      min-width: 20rem;
      width: calc(49% - 1rem);
    }

    @media (min-width: 68rem) {
      margin-right: 1rem;
      min-width: 20rem;
      width: calc(33% - 1rem);
    }

    &:last-child {
      margin-bottom: .25rem !important;
    }
    &--promo {
      width: 3.5rem;
      height: 2.5rem;
      position: absolute;
      bottom:.5rem;
      background: #00c853;
      color: #ffffff;
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font: {
        size: 1.25rem;
        weight: 900;
      }
      .percent {
        font-size: .75rem;
        margin-left: .125rem;
        margin-bottom: .125rem;
      }

    }

    &--top {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 900;
      margin-bottom: .5rem;
      &-title {
        font-size: 1.25rem;
        text-transform: uppercase;
        flex:1;
      }
      &-price {
        color: #ffffff;
        background: #d50000;
        padding: .125rem .5rem;
        font-size: .85rem;
        border-radius: .25rem;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;
      font-size: .75rem;

      &-img {
        width: 5rem;
        height: 5rem;
      }

      &-description {
        padding-right: .5rem;
        margin: 0 .5rem;
        flex:1;
      }

      &-buy {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        & .icon {
          background: #d50000;
          padding: .5rem;
          border-radius: .25rem;
          width: 2.25rem;
          height: 2.25rem;
          color: #ffffff;
        }
      }
    }
  }
}
