.page__product {
  @extend %page;
  background: #ffffff;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  &_title {
    @extend %page__title;
    width: 100%;

    &--principal {
      @extend %page__title_principal;
      margin-bottom: 1rem;
      color: #d50000;

      &-label {
        font-size: 2rem;
        color: #1a1a1a;

        @media (min-width: 48rem) {
          font-size: 4rem;
        }
      }

      &-price {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1rem;

        .price {
          border-radius: .25rem;
          background: #d50000;
          padding: .25rem 1rem;
          color: #ffffff;
          margin-left: 1rem;
          margin-right: .25rem;

          &.promo {
            background: rgba(#d50000, .25);
            position: relative;

            &:after,
            &:before {
              content: "";
              display: flex;
              position: absolute;
              left: 0rem;
              width: calc(100% - 0rem);
              height: 2px;
              background: linear-gradient(90deg, transparent, #d50000, transparent);
            }

            &:after {
              top: calc(50% - 2px);
            }

            &:before {
              top: calc(50% + 2px);
            }
          }
        }
      }
    }

    &--secondary {
      @extend %page__title_secondary;
      margin-bottom: 1rem;

      @media (min-width: 48rem) {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      &-image {
        width: auto;
        height: 12rem;
        justify-content: center;
        display: flex;
        margin-bottom: 1rem;
        position: relative;

        @media (min-width: 48rem) {
          height: 80%;
          flex:1;
        }

        .promo {
          width: 7rem;
          height: 4rem;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #00c853;
          color: #ffffff;
          border-radius: .5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font: {
            size: 3rem;
            weight: 900;
          }

          .percent {
            font-size: 1rem;
            margin-left: .125rem;
            margin-bottom: .125rem;
          }

        }
      }

      &-description {
        color: #1a1a1a;
        flex:1;
        @media (min-width: 48rem) {
          font-size: 1.5rem;
        }

        .detail {
          margin-bottom: 1rem;
          background: #d50000;
          padding: .25rem 1rem;
          border-radius: .25rem;
          color: #ffffff;
          margin-right: .25rem;
          @media (min-width: 48rem) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
