.page__product {
  @extend %page__about;
  background: #fafafa;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #1a1a1a;

  &_title {
    @extend %page__about_title;
    width: 100%;

    &--principal {
      @extend %page__about_title--principal;
      margin-bottom: 1rem;
      color: #d50000;
    }

    &--secondary {
      @extend %page__about_title--secondary;
      margin-bottom: 1rem;
    }
  }
}

.shop__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 48rem) {
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: flex-start;
  }

  &_item {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: .5rem;
    padding:1rem;
    margin-bottom: 2rem;
    margin-right: .5rem;
    color: #1a1a1a;
    box-shadow: 0 4px  3px -2px rgba(#1a1a1a, .25);

    @media (min-width: 48rem) {
      margin-right: 1rem;
      min-width: 20rem;
      width: calc(49% - 1rem);
    }

    @media (min-width: 68rem) {
      margin-right: 1rem;
      min-width: 20rem;
      width: calc(33% - 1rem);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--top {
      display: flex;
      flex-direction: row;
      height: 2rem;
      align-items: center;
      font-weight: 900;
      margin-bottom: .5rem;
      &-icon {
        margin-right: .5rem;
        width: 2rem;
        height: 2rem;
        color: #d50000;
        transform: rotateZ(-45deg) rotateY(180deg);
        .happyhour {
          color: #25ae65;
        }
      }
      &-title {
        font-size: 1.25rem;
        text-transform: uppercase;
        flex:1;
      }
      &-price {
        color: #ffffff;
        background: #d50000;
        padding: .125rem .5rem;
        font-size: .85rem;
        border-radius: .25rem;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;
      font-size: .75rem;

      &-img {
        width: 5rem;
        height: 5rem;
      }

      &-description {
        padding-right: .5rem;
        margin: 0 .5rem;
        flex:1;
      }

      &-buy {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        & .icon {
          background: #d50000;
          padding: .5rem;
          border-radius: .25rem;
          width: 2.25rem;
          height: 2.25rem;
          color: #ffffff;
        }
      }
    }
  }
}
