.page__home {
  @extend %page;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (min-width: 48rem) {
    align-items: flex-start;
  }

  &_title {
    width: calc(100% - 2rem);

    @media(min-width: 48rem) {
      margin-left: 4rem;
      width: 42rem;
    }

    &--principal {
      font: {
        size: 4rem;
        weight: 900;
      }
      line-height: 1;

      @media (min-width: 48rem) {
        font-size: 7.4rem;
        line-height: .9;
      }

    }

    &--secondary {
      margin-top: 2rem;
      font-size: 1.25rem;
      color: #d50000;
    }
  }

  &_background {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    z-index: -1;
    left: 90%;
    transform: translateX(-50%);

    @media (min-width: 48rem) {
      top: -20%;
      height: 140%;
    }
  }

  &_suscribe {
    margin-top: 2rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;

    @media (min-width: 48rem) {
      flex-direction: row;
      width: 42rem;
      margin-left: 4rem;
    }

    &--input {
      flex: 1;

      input {
        height: 3rem;
        width: 100%;
        padding: 0 1rem;
        font-size: 1.25rem;
        background: none;
        color: #e6e6e6;
        border: 1px solid #d50000;
        border-radius: .5rem;

        &:focus {
          box-shadow: 0 0 8px 0 #d50000;
        }

        &::placeholder {
          font-size: 1rem;
          color: rgba(#e6e6e6, .5);
        }
      }
    }

    &--button {
      margin-top: 1rem;
      height: 3rem;
      padding: 0 1.25rem;
      background: #d50000;
      border: none;
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      text-transform: uppercase;
      cursor: pointer;

      @media (min-width: 48rem) {
        margin-top: 0;
        margin-left: 1rem;
      }

    }
  }

  &_network {
    width: calc(100% - 2rem);
    margin-top: 4rem;

    @media (min-width: 48rem) {
      max-width: 30rem;
      margin-left: 4rem;
    }
  }
}
