.page__aboutfindus {
  @extend %page;

  &_title {
    @extend %page__title;

    &--principal {
      @extend %page__title_principal;
      margin-bottom: 0;
    }

    &--secondary {
      @extend %page__title_secondary;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;

      @media (min-width: 48rem) {
        justify-content: center;
      }
      &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;

        .icon {
          height: 3rem;
          margin-right: 2rem;
          color: #d50000;
        }

        .info {
          &__network {
            @extend %center__middle;

            .network__links {
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              color: #d50000;
            }

            &_label {
              flex: 1;
              margin: 0 auto 0 0;
            }
          }
        }
        &.link__map {
          border: 0px;
          flex: 1;
          margin-right: 1rem;
          @media(min-width: 48rem) {
            display:none;
          }
        }
      }
    }
  }

  &_map {
    flex:1;
    margin-left: 3rem;
    height: calc(100% - 6rem);
    display:none;
    @media(min-width: 48rem) {
      display:block;
    }
  }

  &_navigate {
    @extend %page__navigate
  }
}
