.page__product {
  @extend %flex__column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  &_item {
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: calc(100% - 4rem);
    max-width: 24rem;
    background: #ffffff;
    border-radius: .5rem;
    overflow: hidden;
    flex: 1;
    max-height: calc(100vh - 10.5rem);
    @extend %flex__column;

    &--picture,
    &--description {
      @extend %flex__column;
    }

    &--picture {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &-image {
        height: 15rem;
      }

      &-title,
      &-promo,
      &-price {
        position: absolute;
        font-size: 1.25rem;
      }

      &-title {
        color: #1a1a1a;
        bottom: 0;
        width: 100%;
        @extend %center__middle;

        font: {
          size: 1.5rem;
          // weight: 900;
        }

        padding: .5rem 1rem;
        background: rgba(#ffffff, .5);
      }

      &-promo {
        top: 1rem;
        right: 1rem;
        color: #00c853;
      }

      &-price {
        top: 1rem;
        left: 1rem;
        color: #d50000;

        &.old__price {
          top: 2.5rem;
          color: rgba(#d50000, .25);
          display: flex;
          justify-content: center;
          align-items: center;

          &:after {
            position: absolute;
            content: "";
            width: 110%;
            left: -5%;
            height: 2px;
            background: rgba(#d50000, .5);
            transform: translate(0, -50%)
          }
        }
      }
    }

    &--description {
      @extend %flex__column;
      border-top: 1px solid #e6e6e6;
      color: #1a1a1a;
      overflow: hidden;

      &-options,
      &-content {
        @extend %flex__row;
      }

      &-options {
        @extend %flex;
        flex-direction: row;
        height: 2rem;
        flex: 0;

        .description__option {
          @extend %center__middle;
          flex: 1;
          padding: .5rem 1rem;
          position: relative;

          &:after {
            transition: .1s all linear;
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 0px;
            width: 0px;
            background: #d50000;
          }

          &.active {
            &:after {
              transition: .1s all linear;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 0);
              height: 3px;
              width: 100%;
            }
          }
        }
      }

      &-content {
        @extend %flex;
        flex-direction: column;
        flex: 4;
        height: 100%;
        overflow: hidden;
        padding: .5rem;

        .content__body {
          line-height: 150%;
          overflow-y: auto;
          padding: .5rem;

          &_item {
            list-style: circle;
            margin-bottom: 1rem;
            @extend %flex__row;
            align-items: flex-start;

            &:last-child {
              margin-bottom: 0;
            }

            &:before {
              content: "🔺";
              transform: rotate(90deg);
              font-size: .75rem;
              margin-right: .5rem;
            }
          }
        }
      }
    }
  }

  &_actions {
    @extend %flex__row;
    @extend %center__middle;
    max-height: 2.5rem;
    width: calc(100% - 4rem);
    margin-bottom: 1rem;
    background: #d50000;
    border-radius: .5rem;

    &--action {
      &-icon {
        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;

        &:first-child {
          margin-right: auto;
        }

        &:last-child {
          margin-left: auto;
        }

        &.purchase {
          background: #e6e6e6;
          color: #1a1a1a;
          position: relative;
          border-radius: 0 .5rem .5rem 0;

          .badge {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 1.5rem;
            height: 1rem;
            background: #e6e6e6;
            border-radius: .125rem;
            transform: translate(-50%, -50%);
            box-shadow: 0 2px 4px -1px #1a1a1a;
            @extend %center__middle;

            font: {
              size: .625rem;
              weight: 900;
              family: tahoma;
            }
          }
        }
      }

      &-label {
        font-size: .75rem;
      }

      &.link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: .5rem 0 0 .5rem;
        margin-right: 1rem;
      }

      &.counter {
        margin: 0;
      }
    }
  }

  .counter__add {
    display: flex;
    align-items: center;
    width: auto;
    height: 2rem;
    margin-left: .25rem;
    border:1px solid #e6e6e6;
    border-radius: .25rem;

    &_icon {
      height: 1.25rem;
      width: 1.25rem;
    }

    &_label {
      margin-left: .5rem;

      font: {
        size: .75rem;
        weight: 400;
      }
    }
  }
}
