@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

.count {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size:4rem;
    font-family: 'Bungee';
    &__title {
        color: #d50000;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 2rem;
    }
    &__wrapper {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_item {
            width: 7rem;
            height: 9rem;
            margin: 1rem;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #d50000;
            color: #e6e6e6;
            border-radius: .5rem;
            box-shadow: 0 2px 4px 0 black;
            line-height: 1;
            &--label {
                margin-top: 1rem;
                font-size: 1rem;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

    }
}
