.header {
	height: 4rem;
	display:flex;
	flex-direction: row;
	&__img {
		width: 16rem;
		height: 100%;
		display:flex;
		justify-content:center;
		aling-items:center;
		// background:red;
		* {
			height: 100%;
			// margin: auto;
		}
	}
}