.nav {
	background: #1a1a1a;
	display: flex;
	flex-direction: column;


	&__image {
		margin: .5rem 1rem;
		height: 6rem;
		display:flex;
		justify-content: center;
		align-items:center;
		@media(max-width: 48rem) {
			margin: 0;
			width: 3rem;
			height: 3rem;
		}

		svg {
			width: 100%;
			height: auto;
		}
		&_desktop {
			width: 13rem;
			height: auto;
			@media(max-width:48rem) {
				display: none;
			}
		}
		&_mobile {
			width: 3rem;
			height: 3rem;
			@media(min-width:48rem) {
				display: none;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		flex: 1;

		&_link {
			height: 3rem;
			border-bottom: 1px solid rgba(black, .1);
			display: flex;
			flex-direction: row;
			align-items: center;
			color: #e6e6e6;

			&:hover, &.active {
				box-shadow: inset .25rem 0 #d50000;
				color: #d50000;
			}

			&--icon {
				width: 3rem;
				height: 3rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&--label {
				flex: 1;
				height: 100%;
				display: flex;
				align-items: center;
				@media (max-width:48rem) {
					display:none;
				}
			}

      &.nav__info{
        margin-top: auto;
        margin-bottom:0;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content:space-evenly;
        height: auto;
        width: 3rem;
        @media (min-width: 48rem) {
          width: auto;
        }
        &:hover{
          box-shadow: none;
          color: #e6e6e6;
        }
        a{
          color: #e6e6e6;
          &:hover {
            color: #d50000;
          }
        }
      }
		}
	}
}
