@import url(https://pro.fontawesome.com/releases/v5.12.1/css/all.css);

a{
    text-decoration: none;
}
.network {
    margin-top: 4rem;
    &__item {
        color: #e6e6e6;
        margin: 1rem;
    }
}
